<md-data-table-toolbar ng-hide="selected.length || filter.show" aria-hidden="false" class="">
  <h2 class="md-title">Orders</h2>
  <div flex=""></div>
    <md-button class="md-fab md-primary md-mini" ng-click="filter.show = true">
        <md-icon md-svg-icon="css/icons/ic_filter_list_white_24px.svg"></md-icon> 
        <md-tooltip>
            Filter orders
        </md-tooltip>          
    </md-button>
    <md-button class="md-fab md-mini" ng-click="addItem($event)" ng-disabled="products.length < 1">
        <md-icon md-svg-icon="css/icons/ic_add_white_24px.svg"></md-icon>
        <md-tooltip>
            Add new order
        </md-tooltip>          
    </md-button>
</md-data-table-toolbar>

<md-data-table-toolbar ng-show="filter.show && !selected.length">
  <form flex="" name="filter.form">
      <md-input-container md-no-float class="filter-input">
          <input type="text" ng-model="query.search" placeholder="search">
      </md-input-container>
  </form>
    <md-button ng-click="filter.show = false">
        <md-icon md-svg-icon="css/icons/ic_close_black_24px.svg"></md-icon>
    </md-button>
</md-data-table-toolbar>

        <md-data-table-toolbar class="alternate" ng-show="selected.length">
            <div>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</div>
            <div flex=""></div>
            <md-button class="" ng-click="editItem($event)" ng-show="true" ng-disabled="products.length < 1">
                <md-icon md-svg-icon="css/icons/ic_mode_edit_black_24px.svg"></md-icon> Edit
                <md-tooltip>
                    Edit selected orders
                </md-tooltip>                  
            </md-button>             
            <md-button class="" ng-click="removeItem($event)">
                <md-icon md-svg-icon="css/icons/ic_delete_black_24px.svg"></md-icon> Remove
                <md-tooltip>
                    Remove selected orders
                </md-tooltip>                 
            </md-button>          
        </md-data-table-toolbar>

        <md-data-table-container>
          <table md-data-table class="md-primary" md-row-select="selected" md-progress="deferred">
            <thead md-order="query.order" md-trigger="onOrderChange">
              <tr>
                <th order-by="id" name="ID"></th>
                <th order-by="name" name="Code"></th>
                <th order-by="state" name="Status"></th>
                <th order-by="order_line" name="Products"></th>
                <th order-by="amount_total" name="Total"></th>
                <th order-by="create_date" name="Date Created"></th>
                <th order-by="date_order" name="Order Date"></th>
                <th order-by="partner_id" name="User"></th>
                <th order-by="note" name="Notes"></th>
              </tr>
            </thead>
            <tbody>
              <tr md-auto-select ng-repeat="order in orders.data  | filter:query.search ">
                <td>{{order.id}}</td>
                <td>{{order.name}}</td>
                <td>
                  <md-select ng-model="order.state" placeholder="Other" md-on-close="changeStatus(order)">
                    <md-option ng-value="type" ng-repeat="type in getStatusTypes()">{{type}}</md-option>
                  </md-select>
                </td>
                <td class="clickable" ng-click="viewProducts($event,order)">{{order.order_line.length}} items</td>
                <td>{{order.amount_total | no_false}}</td>
                <td>{{convertDate(order.create_date) | date:'medium'}}</td>
                <td>{{convertDate(order.date_order) | date:'medium'}}</td>
                <td>{{order.partner_id[1]}}</td>
                <td>{{order.note | no_false}}</td>
              </tr>
            </tbody>
          </table>
        </md-data-table-container>
        <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{orders.count}}" md-trigger="onPageChange"></md-data-table-pagination>
        
        