<md-data-table-toolbar ng-hide="selected.length || filter.show" aria-hidden="false" class="">
  <h2 class="md-title">Stock</h2>
  <div flex=""></div>
    <md-button class="md-fab md-primary md-mini" ng-click="filter.show = true">
        <md-icon md-svg-icon="css/icons/ic_filter_list_white_24px.svg"></md-icon> 
        <md-tooltip>
            Filter stock
        </md-tooltip>            
    </md-button>
    <md-button class="md-fab md-mini" ng-click="addItem($event)" ng-disabled="products.length < 1">
        <md-icon md-svg-icon="css/icons/ic_add_white_24px.svg"></md-icon>
        <md-tooltip>
            Add new stock
        </md-tooltip>            
    </md-button>
</md-data-table-toolbar>

<md-data-table-toolbar ng-show="filter.show && !selected.length">
  <form flex="" name="filter.form">
      <md-input-container md-no-float class="filter-input">
          <input type="text" ng-model="query.search" placeholder="search">
      </md-input-container>
  </form>
    <md-button ng-click="filter.show = false">
        <md-icon md-svg-icon="css/icons/ic_close_black_24px.svg"></md-icon>
    </md-button>
</md-data-table-toolbar>

        <md-data-table-toolbar class="alternate" ng-show="selected.length">
            <div>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</div>
            <div flex=""></div>
            <md-button class="" ng-click="editItem($event)" ng-show="true" ng-disabled="products.length < 1">
                <md-icon md-svg-icon="css/icons/ic_mode_edit_black_24px.svg"></md-icon> Edit
                <md-tooltip>
                    Edit selected stock
                </md-tooltip>                    
            </md-button>             
            <md-button class="" ng-click="removeItem($event)">
                <md-icon md-svg-icon="css/icons/ic_delete_black_24px.svg"></md-icon> Remove
                <md-tooltip>
                    Remove selected stock
                </md-tooltip>                    
            </md-button>          
        </md-data-table-toolbar>

        <md-data-table-container>
          <table md-data-table class="md-primary" md-row-select="selected" md-progress="deferred">
            <thead md-order="query.order" md-trigger="onOrderChange">
              <tr>
                <th order-by="id" name="ID"></th>
                <th order-by="name" name="Name"></th>
                <th order-by="state" name="Status"></th>
                <th order-by="product_id" name="Breed"></th>
                <th order-by="x_quality" name="Quality"></th>
                <th order-by="product_qty" name="Quantity"></th>
                <th order-by="create_date" name="Date Created"></th>
                <th order-by="date_expected" name="Stock Date"></th>
                <th order-by="x_img_url" name="Image"></th>
                <th order-by="partner_id" name="User"></th>
                <th order-by="x_notes" name="Notes"></th>
              </tr>
            </thead>
            <tbody>
              <tr md-auto-select ng-repeat="stockItem in stock.data  | filter:query.search ">
                <td>{{stockItem.id}}</td>
                <td>{{stockItem.name}}</td>
                <td>
                  <md-select ng-model="stockItem.state" placeholder="Other" md-on-close="changeStatus(stockItem)">
                    <md-option ng-value="type" ng-repeat="type in getStatusTypes()">{{type}}</md-option>
                  </md-select>
                </td>
                <td>{{getProduct(stockItem)}}</td>
                <td>{{stockItem.x_quality | no_false}}</td>
                <td>{{stockItem.product_qty | no_false}}</td>
                <td>{{convertDate(stockItem.create_date) | date:'medium'}}</td>
                <td>{{convertDate(stockItem.date_expected) | date:'medium'}}</td>
                <td><img class="stock-thumbnail" ng-if="stockItem.x_img_url" ng-src="{{stockItem.x_img_url | no_false}}" ></td>
                <td>{{stockItem.partner_id[1]}}</td>
                <td>{{stockItem.x_notes | no_false}}</td>
              </tr>
            </tbody>
          </table>
        </md-data-table-container>
        <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{stock.count}}" md-trigger="onPageChange"></md-data-table-pagination>
        
        