/*GENERAL PAGE STYLING**********************************************************/
a{
    -webkit-transition: all 0.3s ease;                  
    -moz-transition: all 0.3s ease;                 
    -o-transition: all 0.3s ease;   
    -ms-transition: all 0.3s ease;          
    transition: all 0.3s ease;
    
}

html{
    font-family:"Lato", Roboto,'Helvetica Neue',sans-serif !important;
}

p{
    margin: 5px;
}

a{
    text-decoration: none;
}
a:hover{
    color:rgb(63,81,181);
}



.main-view{
    height: 100%;
}

.filter-input{
    top: 15px;
}

/*NAVIGATION********************************************************************/

.side-nav{
    height:100%;
}

.menu-list .md-button{
    width: 100%;
    text-align: left;
}

.md-open-menu-container.md-active{
    top:64px !important;
}

 md-toolbar:not(.md-menu-toolbar) .account-dropdown .md-button{
    color:black;
}




/*LOGIN PAGE STYLING************************************************************/

.login-form{
    position: relative;
}

.login-form md-input-container{
    z-index:99;
}
.login-heading{
    margin: 20px 0px 30px;
    text-transform: uppercase;
}

.login-button-container{
    position: absolute;
    top: 35%;
    width: 100%;
    left: 26px; 
}
.login-button{
    float: right;
    transition: all ease-in-out 500ms !important;
}

.login-button:hover {
    color: #555555;
    transform: rotate(450deg);
}

.error{
    color:rgb(244,67,54);
}

md-progress-circular.login-load{
    position: absolute;
    top: 0px;
}

/*HOME PAGE*********************************************************************/
.homeGrid md-grid-list {
  margin: 8px; }
.homeGrid .gray {
  background: #f5f5f5; }
.homeGrid .green {
  background: #b9f6ca; }
.homeGrid .yellow {
  background: #ffff8d; }
.homeGrid .blue {
  background: #84ffff; }
.homeGrid .purple {
  background: #b388ff; }
.homeGrid .red {
  background: #ff8a80; }
.homeGrid md-grid-tile {
  transition: all 400ms ease-out 50ms; }

md-list.latest-items{
position: absolute;
    left: 5px;
    top: 0px;
    width:100%;
}
@media screen and (min-width: 959px){
    md-grid-tile.force-top{
        margin-top:0px!important;
    }
}

md-grid-list figure{
        overflow: hidden;
    text-overflow: ellipsis;
}

md-grid-tile.products {
    text-align:center;
}

md-grid-list md-grid-tile md-grid-tile-footer{
    background: rgba(0,0,0,.5);
}

md-grid-list img{
    max-width:128px;
    max-height: 128px;    
}

md-grid-list h1{
    padding-top: 0px;
    margin-top: 0px;
}

/*STOCK PAGE********************************************************************/

.upload-loading{

}

img.stock-thumbnail{
        width: 50px;
    height: 50px;
}

/*AUTOCOMPLETE *****************************************************************/

.autocomplete{
  width: 100%;
  position: relative;
}

.autocomplete input{
color:#949494;
  width: 100%;

}

md-input-container.md-icon-float.autocomplete-container{
    margin-top:10px;
}

.autocomplete ul{
  position: absolute;
  left: 0;
  width: 90%;
  border-left: 1px solid rgb(225, 225, 225);
  border-right: 1px solid rgb(225, 225, 225);
  border-bottom: 1px solid rgb(225, 225, 225);
    z-index: 99;
    background-color: white;
        margin-top: 0px;
}

.autocomplete li{
  text-align: left;
  list-style:none;
  width: 90%;
  padding:0.4em;
  background-color: #fff;
      margin-left: -30px;
}

.autocomplete li.active{
  width: 100%;
  background-color: #4bf;
}

.autocomplete .highlight {
  background-color: #E2E2E2;
}

.autocomplete li.active .highlight {
  background: #666;
  color: #fff;
}



/*ORDER PAGE STYLES ************************************************************/

.add-order md-input-container.md-icon-float.autocomplete-container, .edit-order md-input-container.md-icon-float.autocomplete-container{
    margin-top:20px;
}

.add-order md-datepicker .md-datepicker-input-container, .edit-order md-datepicker .md-datepicker-input-container{
    width:80%;
}

.add-order md-datepicker .md-datepicker-input-container input, .edit-order md-datepicker .md-datepicker-input-container input{
    width:100%;
    max-width: 100%;
    color: rgba(0,0,0,0.87);
}

.add-order md-datepicker, .edit-order md-datepicker{
    margin-bottom:30px;
}

