<md-content class="md-padding" layout-padding layout="row" layout-align="center center" layout-wrap>

    <md-card flex="100" flex-gt-md="40" flex-gt-lg="25" layout-align="center center" layout-padding class="autoScroll login-form">
        <h1 class="md-display-3 login-heading">Reset</h1>
        <form name="forgotPasswordForm" ng-submit="reset()">
            <md-input-container class="md-icon-float" >
                <label>Email</label>
                <md-icon md-svg-icon="css/icons/ic_email_black_24px.svg"></md-icon>
                <input ng-model="user.email" required name="email" type="text">
                <div ng-messages="forgotPasswordForm.email.$error">
                  <div ng-message="required">This is required.</div>
                </div>                 
            </md-input-container>
            <div class="login-button-container" >
                <md-button class="md-fab md-primary login-button" aria-label="Login">
                  <md-icon md-svg-icon="css/icons/ic_navigate_next_white_24px.svg"></md-icon>
                    <md-tooltip>
                        Click to reset password!
                    </md-tooltip>                
                </md-button>   
            </div>
        </form>
        <md-progress-circular class="login-load" md-mode="{{loading}}" md-diameter="20px"></md-progress-circular>
        <div class="error">{{error}}</div>        
    </md-card>
    <div flex="100" layout="column" layout-align="center center">
        <p>
            Already have an account? <a ui-sref="login">Login here</a>
        </p>
        <p>
            New user? <a ui-sref="register">Create new account</a>
        </p>      
    </div>

  </md-content>