<md-content class="md-padding" layout-padding layout="row" layout-align="center center" layout-wrap>

    <md-card flex="100" flex-gt-md="40" flex-gt-lg="25" layout-align="center center" layout-padding class="autoScroll login-form">
        <h1 class="md-display-3 login-heading">Login</h1>
        <form name="loginForm" ng-submit="login()">
            
            <md-input-container class="md-icon-float" >
                <label>Username</label>
                <md-icon md-svg-icon="css/icons/ic_person_black_24px.svg"></md-icon>
                <input required name="username" ng-model="user.username" type="text">
                <div ng-messages="loginForm.username.$error">
                  <div ng-message="required">This is required.</div>
                </div>                  
            </md-input-container>
            <md-input-container class="md-icon-float" >
                <label>Password</label>
                <md-icon md-svg-icon="css/icons/ic_lock_black_24px.svg"></md-icon>
                <input required name="password" ng-model="user.password" type="password">
                <div ng-messages="loginForm.password.$error">
                  <div ng-message="required">This is required.</div>
                </div>                 
            </md-input-container>
            <md-input-container>
                <md-checkbox ng-model="user.remember" aria-label="Remember me">
                  Remember me
                </md-checkbox>   
            </md-input-container>
            <div class="login-button-container" >
                <md-button class="md-fab md-primary login-button" aria-label="Login">
                  <md-icon md-svg-icon="css/icons/ic_navigate_next_white_24px.svg"></md-icon>
                    <md-tooltip>
                        Click to login!
                    </md-tooltip>                
                </md-button>   
            </div>
        </form>
        <md-progress-circular class="login-load" md-mode="{{loading}}" md-diameter="20px"></md-progress-circular>
        <div class="error">{{error}}</div>
    </md-card>
    <div flex="100" layout="column" layout-align="center center">
        <p>
            Forgot your password? <a ui-sref="forgotpassword">Click here</a>
        </p>
        <p>
            New user? <a ui-sref="register">Create new account</a>
        </p>      
    </div>

  </md-content>

