<md-content class="md-padding" layout-padding layout="row" layout-align="center center" layout-wrap>

    <md-card flex="100" flex-gt-md="40" flex-gt-lg="25" layout-align="center center" layout-padding class="autoScroll login-form">
        <h1 class="md-display-3 login-heading">Register</h1>
        <form name="registerForm">
            <md-input-container class="md-icon-float" >
                <label>Username</label>
                <md-icon md-svg-icon="css/icons/ic_person_black_24px.svg"></md-icon>
                <input md-maxlength="30" minlength="6" name="username" required ng-model="user.username" type="text">
                <div ng-messages="registerForm.username.$error">
                  <div ng-message="required">This is required.</div>
                  <div ng-message="md-maxlength">Must be less than 30 characters.</div>
                  <div ng-message="minlength">Must be more than 6 characters.</div>
                </div>            
            </md-input-container>        
            <md-input-container class="md-icon-float" >
                <label>Password</label>
                <md-icon md-svg-icon="css/icons/ic_lock_black_24px.svg"></md-icon>
                <input md-maxlength="100" minlength="6" required name="password" ng-model="user.password" type="password">
                <div ng-messages="registerForm.password.$error">
                  <div ng-message="required">This is required.</div>
                  <div ng-message="md-maxlength">Must be less than 30 characters.</div>
                  <div ng-message="minlength">Must be more than 6 characters.</div>
                </div>                    
            </md-input-container>
            <md-input-container class="md-icon-float" >
                <label>Confirm Password</label>
                <md-icon md-svg-icon="css/icons/ic_lock_black_24px.svg"></md-icon>
                <input name="confirmPassword" ng-model="user.passwordconfirm" type="password">            
            </md-input-container>
            
            <md-radio-group ng-model="user.type" class="md-primary">
                <label>I am a:</label>
                <md-radio-button value="buyer">Buyer</md-radio-button>
                <md-radio-button value="grower">Grower</md-radio-button>
                <md-radio-button value="picker">Picker</md-radio-button>
            </md-radio-group>     
            
            
            <md-input-container class="md-icon-float" >
                <label>Email</label>
                <md-icon md-svg-icon="css/icons/ic_email_black_24px.svg"></md-icon>
                <input ng-model="user.email" type="text">
            </md-input-container>   

            <md-input-container class="md-icon-float" >
                <label>Business</label>
                <md-icon md-svg-icon="css/icons/ic_business_black_24px.svg"></md-icon>
                <input ng-model="user.business" type="text">
            </md-input-container>               


            <md-input-container >
                <md-checkbox ng-model="user.terms" aria-label="Remember me">I agree with <a href="#">terms</a></md-checkbox>  
            </md-input-container>        
            <div class="login-button-container" >
                <md-button class="md-fab md-primary login-button" aria-label="Register" ng-click="register()">
                    <md-icon md-svg-icon="css/icons/ic_navigate_next_white_24px.svg"></md-icon>
                    <md-tooltip>
                        Click to register!
                    </md-tooltip>              
                </md-button>   
            </div>
        </form>
        <md-progress-circular class="login-load" md-mode="{{loading}}" md-diameter="20px"></md-progress-circular>
        <div class="error">{{error}}</div>        
    </md-card>
    <div flex="100" layout="column" layout-align="center center">
        <p>
            Already have an account? <a ui-sref="login">Login here</a>
        </p>   
    </div>

  </md-content>