<md-dialog aria-label="Edit Stock">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      
        <h2>Edit Stock</h2>
        <md-progress-circular class="md-accent" md-mode="{{uploading}}" md-diameter="20px"></md-progress-circular>
      
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="css/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px; ">
    <form name="userForm">
      <div layout layout-sm="column">
        <md-input-container style="width:70%">
            <label>Name</label>
            <input type="text" ng-model="stock.name">
          </md-input-container>
        <md-datepicker ng-model="stock.date_expected" md-placeholder="Stock date"></md-datepicker>
      </div>
      <md-input-container class="autocomplete-container" flex>
        <autocomplete ng-model="stock.breed" data="products" attr-input-class="md-input" attr-placeholder="Find Breed..."></autocomplete>
      </md-input-container>            
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Quality</label>
          <input type="text" ng-model="stock.x_quality">
        </md-input-container>
        <md-input-container flex>
          <label>Quantity</label>
          <input type="number" ng-model="stock.product_uom_qty">
        </md-input-container>
      </div>
      <div layout layout-sm="column">
        <md-input-container flex style="width:70%">
          <label>Image URL</label>
          <input type="text" ng-model="stock.x_img_url">
        </md-input-container>
        <md-input-container>
            <input id="uploadImage" type="file" ngf-select="uploadFiles($file)" accept="image/*" ngf-max-size="1MB" style="display:none;">
            <md-button class="md-primary" onclick="document.getElementById('uploadImage').click()" ng-disabled="uploading"><span ng-show="!uploading">Upload</span><span ng-show="uploading">Uploading</span></md-button>
        </md-input-container>
          <p class="error">{{errorMsg}}</p>
      </div>
      <md-input-container flex>
        <label>Notes</label>
        <textarea ng-model="stock.x_notes" columns="1" md-maxlength="150"></textarea>
      </md-input-container>
    </form>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="cancel()" >
        Cancel
    </md-button>
    <md-button class="md-primary" ng-click="update()" style="margin-right:20px;" >
        Update
    </md-button>
  </div>
  </form>
</md-dialog>