<md-dialog aria-label="{{order.name}}">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      
        <h2>{{order.name}}</h2>
      
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="css/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px; ">
        <md-data-table-container>
          <table md-data-table class="md-primary" md-row-select="selected" md-progress="deferred">
            <thead md-order="query.order">
              <tr>
                <th order-by="name" name="Product"></th>
                <th order-by="product_uom_qty" name="Quantity"></th>
                <th order-by="price_unit" name="Price/Unit"></th>
                <th order-by="price_subtotal" name="Total"></th>
              </tr>
            </thead>
            <tbody>
              <tr md-auto-select ng-repeat="line in lineItems | orderBy: query.order">
                <td>{{line.name}}</td>
                <td>{{line.product_uom_qty}}</td>
                <td>{{line.price_unit}}</td>
                <td>{{line.price_subtotal}}</td>
              </tr>
            </tbody>
          </table>
        </md-data-table-container>      
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="cancel()" >
        Close
    </md-button>
  </div>
  </form>
</md-dialog>